@page
@using Models
@using System.Collections
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to Raddest!</h1>

<form class="submission-form" method="POST">
    <div>
        <label asp-for="Submission.Name"></label>
        <input asp-for="Submission.Name"/>
    </div>
    <div>
        <label asp-for="Submission.Hash"></label>
        <input asp-for="Submission.Hash"/>
    </div>
    <div>
        <label asp-for="Submission.Content"></label>
        <textarea asp-for="Submission.Content"></textarea>
    </div>
    <div>
        <label asp-for="Submission.File"></label>
        <input asp-for="Submission.File"/>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
    @Html.ValidationSummary()
</form>

<div>
    @{
        foreach (var Thread in Model.Threads.OrderBy(t => t.Key).ToList())
        {
            foreach (var Post in Thread.Value)
            {
                <div class="post @(Post.ParentId is not null ? "subpost" : "")">
                    <span class="post-author-name">@(Post.AuthorName ?? "Anonymous")</span>
                    @{
                        if (Post.AuthorHash is not null)
                        {
                            <span class="post-author-hash">#@Post.AuthorHash</span> 
                        }
                    }
                    <span class="post-created">@Post.Created (@Post.Created.DayOfWeek)</span>
                    <span class="post-id">No. @Post.Id</span>
                    <span class="post-actions">[
                        <a class="post-action-reply" asp-page="Thread" asp-route-ParentId="@(Post.ParentId ?? @Post.Id)">Reply</a>
                    ]</span>
                    <div class="post-content">
                        @Post.Content
                    </div>
                </div>
            }
        }
    }
</div>